Body {
    padding-top: 6%;
    background: url("graduation.jpg");
    color: #000;
    text-align: left;
}
h1 {
    text-align: center;
    padding-top:15px;
    font-size: 40px;
    color: #000;
}

#content {margin:0 auto;
         width:700px;
         border: 2px solid black;
}

#leftside {width: 225px;
    height: 485px;
    float: left;
    padding-left: 15px;
    border: 1px solid black;

#rightside { width: 450px;
    height: 486px;
    margin-top: 0px;
    padding-left: 15px;
    border: 1px solid black;
    float: left;
}