Body {
    padding-top: 6%;
    background: url("graduation.jpg");
    color: #000;
    text-align: left;
}
h1 {
    text-align: center;
    padding-top:15px;
    font-size: 40px;
    color: #000;
}

#content {margin:0 auto;
         width:700px;
         border: 2px solid black;
}

